body{
    background: black;
    font-family: 'Roboto',sans-serif;
    display: flex;
    justify-content: center;   
    margin-top: 20px;  
 

}
.post{
    width: 420px;
    background: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header div{
    flex: 1;
    margin-left: 10px;
}

img{
    width: 100%;
}

.icons{
    padding: 10px; 
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}


.text{
    padding: 10px;
    font-size: 14px;
}

.likes{
    padding: 10px;
    font-size: 14px;
    }